
:root{
    --primary-color: #f3f3f3;
    --secondary-color: #333;
    --tertiary-color: #f00;
    --link-color: #00f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}